.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.capitalize {
    text-transform: capitalize;
}

.margin-bottom-5 {
    margin: auto auto 5px;
}

.marginless {
    margin: auto;
}

.section {
    margin-bottom: 20px;
}

